<section class="top_place section_padding">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="section_tittle text-center">
          <h2>Adventures</h2>
          <p>Waters make fish every without firmament saw had. Morning air subdue. Our. Air very one.
            Whales grass is fish whales winged.</p>
        </div>
      </div>
    </div>
    <div class="container mb-4">
      <div class="row justify-content-between">
        <div class="col-sm-12 col-md-4 my-2">
          <div class="d-flex align-items-center">
            <span class="mx-2">Select</span>
            <select class="form-control" onchange="location = this.value;">
              <option selected disabled>---Provinces---</option>
              <option th:each="province : ${provinces}"
                      th:value="@{/things-to-do/province/(province=${province})}"
                      th:text="${province}">
              </option>
            </select>
            <span class="mx-2">province</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
          <form th:action="@{/things-to-do/search/}" th:method="get">
            <div class="d-flex align-items-center">
              <label class="mx-2">Name</label>
              <input type="text" class="form-control" name="name">
              <button type="submit" class="btn btn-primary mx-2"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <th:block th:each="thingToDo : ${thingsToDo}">
          <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
            <div class="card card-hover">
              <a th:href="@{/things-to-do/details/{id} (id=${thingToDo.id})}" class="place_btn">
                <img class="card-img-top" th:src="${thingToDo.mainImageUrl}" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title" th:text="${thingToDo.name}"></h4>
                  <h5 class="card-title" th:text="${thingToDo.province}"></h5>
                  <div class="module-truncate fade-truncate">
                    <p class="card-text" th:text="${thingToDo.overview}"></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </th:block>
      </div>
    </div>
    <div th:replace="fragments/pagination :: pagination (url='/things-to-do')"></div>
  </div>
</section>