<section class="jumbotron container my-3" th:object="${thingToDo}">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" >
          <div class="carousel-item" th:each="image: ${thingToDo.imagesUrls}"
               th:classappend="(${image} == *{mainImageUrl}) ? 'active'">
            <img class="d-block w-100"
                 th:src="${image}"
                 alt="slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="container text-center">
        <h2 th:text="*{name}" class="my-3"></h2>
        <h3 th:text="*{province}" class="my-3"></h3>
        <p th:text="*{overview}" class="text-break my-3"></p>
        <a th:href="*{externalLink}" th:if="*{externalLink} != ''"
           target="_blank" class="button mt-30 mt-5">More Information</a>
      </div>
    </div>
  </div>
</section>