<th:block th:fragment>
  <div class="container">
    <div class="row mt-5 mb-5 text-center justify-content-center h-100">
      <div class="col-sm-12 col-md-6 col-lg-4 text-center my-auto">
        <a th:href="@{admin/blog-post}" class="creator-card card shadow .z-depth-2 rounded mb-3">
          <div class="embed-responsive .embed-responsive-1by1 ">
            <img src="https://res.cloudinary.com/duddzgxsd/image/upload/v1573225180/ezgif-1-f483ee9708bf.webp"
              class="card-img" alt="blog">
          </div>
          <div class="card-img-overlay d-flex flex-column justify-content-center">
            <h3 class="card-title justify-content-center bg-light border border-dark font-weight-bold">Edit Blog Post
            </h3>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 text-center my-auto">
        <a th:href="@{admin/edit-places}" class="creator-card card shadow .z-depth-2 rounded mb-3">
          <div class="embed-responsive .embed-responsive-1by1 ">
            <img src="https://res.cloudinary.com/duddzgxsd/image/upload/v1573225304/ezgif-1-5102c213e4fd.webp"
              class="card-img" alt="place">
          </div>
          <div class="card-img-overlay d-flex flex-column justify-content-center">
            <h3 class="card-title justify-content-center bg-light border border-dark font-weight-bold">Edit Place</h3>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 text-center my-auto">
        <a th:href="@{admin/edit-things-to-do}" class="creator-card card shadow .z-depth-2 rounded mb-3">
          <div class="embed-responsive .embed-responsive-1by1 ">
            <img src="https://res.cloudinary.com/duddzgxsd/image/upload/v1573225658/ezgif-1-c1f912f4eeac.webp"
              class="card-img" alt="things">
          </div>
          <div class="card-img-overlay d-flex flex-column justify-content-center">
            <h3 class="card-title justify-content-center bg-light border border-dark font-weight-bold">Edit Thing To Do
            </h3>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 text-center my-auto">
        <a href="" class="creator-card card shadow .z-depth-2 rounded mb-3">
          <div class="embed-responsive .embed-responsive-1by1 ">
            <img src="https://res.cloudinary.com/duddzgxsd/image/upload/v1573225419/ezgif-1-fda9dcfaa2c6.webp"
              class="card-img" alt="pictures">
          </div>
          <div class="card-img-overlay d-flex flex-column justify-content-center">
            <h3 class="card-title justify-content-center bg-light border border-dark font-weight-bold">Edit Pictures
            </h3>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 text-center my-auto">
        <a th:href="@{admin/edit-users}" class="creator-card card shadow .z-depth-2 rounded mb-3">
          <div class="embed-responsive .embed-responsive-1by1 ">
            <img src="https://res.cloudinary.com/duddzgxsd/image/upload/v1573225510/ezgif-1-7feff6b2128d.webp"
              class="card-img" alt="admin">
          </div>
          <div class="card-img-overlay d-flex flex-column justify-content-center">
            <h3 class="card-title justify-content-center bg-light border border-dark font-weight-bold">Edit Users</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</th:block>