<section class="blog_area section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="blog_left_sidebar">
          <th:block th:if="${#lists.isEmpty(posts)}">
            <article class="blog_item">
              <div class="blog_item_img">
                <div class="d-inline-block">
                  <img class="card-img img-fluid"
                       src="https://i.imgur.com/3suxlvm.png" alt="missing image">
                </div>
              </div>
              <div class="blog_details">
                <div class="d-inline-block">
                  <h2>Oh no! Try again!</h2>
                </div>
                <p>No such word in our database. Please try with different one.</p>
              </div>
            </article>
          </th:block>
          <th:block th:if="${not #lists.isEmpty(posts)}">
            <article class="blog_item" th:each="post: ${posts}">
              <div class="blog_item_img">
                <a class="d-inline-block w-100" th:href="@{/blog/{id} (id = ${post.id})}">
                  <img class="card-img img-fluid" th:src="${post.headerImageUrl}" alt="missing image">
                </a>
                <a href="#" class="blog_item_date">
                  <h3 th:text="${#temporals.format(post.datePosted, 'dd')}"></h3>
                  <p th:text="${#temporals.format(post.datePosted, 'MMM yyyy')} "></p>
                </a>
              </div>

              <div class="blog_details">
                <a class="d-inline-block" th:href="@{/blog/{id} (id = ${post.id})}">
                  <h2 th:text="${post.title}"></h2>
                </a>
                <p th:utext="${#strings.abbreviate(post.article,250)}"></p>
                <ul class="blog-info-link">
                  <li><a href="#"><i class="far fa-user"></i>
                    <span th:text="${#strings.setJoin(post.categories,', ')}"></span></a></li>
                  <li><a href="#"><i class="far fa-heart"></i>
                    <span th:text="${post.commentsSize}"></span> Likes</a></li>
                  <li><a href="#"><i class="far fa-comments"></i>
                    <span th:text="${post.commentsSize}"></span> Comments</a></li>
                </ul>
              </div>
            </article>
            <div th:replace="fragments/pagination :: pagination (url='/blog')"></div>
          </th:block>
        </div>
      </div>
      <th:block th:include="~{fragments/blog-aside}"></th:block>
    </div>
  </div>
</section>