<section>
  <div class="container" id="add-pictures">
    <form th:action="@{/creators/add-pictures}" method="POST" th:object="${bindingModel}" enctype="multipart/form-data">
      <div class="mt-3 w-50 mx-auto">
        <h3>
          Upload pictures in the Gallery.
        </h3>
        <div class="custom-file my-2">
          <input type="file" class="custom-file-input" id="validatedCustomFile" name="images"
                 th:classappend="${#fields.hasErrors('images')} ? 'is-invalid'"
                 accept="image/*" multiple="multiple" required>
          <label class="custom-file-label" for="validatedCustomFile">Choose files...</label>
        </div>
        <th:block th:if="${#fields.hasErrors('images')}">
          <small class="text-danger" th:errors="*{images}"></small>
        </th:block>
      </div>
      <div class="mt-3 w-50 mx-auto">
        <h3>Select Place</h3>
        <select class="form-control" id="add-places" name="place"
                th:classappend="${#fields.hasErrors('place')} ? 'is-invalid'">
          <option selected="" disabled="">--- Select Place ---</option>
        </select>
        <th:block th:if="${#fields.hasErrors('place')}">
          <small class="text-danger" th:errors="*{place}"></small>
        </th:block>
      </div>
      <div class="mt-3 w-50 mx-auto">
        <h3>OR Add Place if not existing</h3>
        <input type="text" class="form-control" name="imagePlaceName" placeholder="Enter Place Name...">
      </div>
      <div class="mt-3 w-50 mx-auto">
        <th:block th:include="~{fragments/select-province}"></th:block>
        <th:block th:if="${#fields.hasErrors('province')}">
          <small class="text-danger" th:errors="*{province}"></small>
        </th:block>
      </div>
      <div class="m-5 text-center">
        <button type="submit" class="button">Post</button>
      </div>
    </form>
  </div>
</section>