<th:block th:fragment>
  <div class="container">
    <h2 class="mb-4 mt-4 text-center">Add a new Thing To Do!</h2>
    <form th:action="@{/creators/add-thing-to-do}" method="POST" th:object="${bindingModel}" enctype="multipart/form-data">
      <div class="mt-5 w-50 mx-auto">
        <h3>Thing To Do</h3>
        <input type="text" class="form-control" name="name"
               th:value="*{name}"
               th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
               placeholder="Enter Thing To Do Name..." required>
        <th:block th:if="${#fields.hasErrors('name')}">
          <small class="text-danger" th:errors="*{name}"></small>
        </th:block>
      </div>
      <div class="mt-5 w-50 mx-auto">
        <h3>
          Thing To Do Images
        </h3>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="validatedCustomFile" name="images"
                 th:value="*{images}"
                 th:classappend="${#fields.hasErrors('images')} ? 'is-invalid'"
                 accept="image/*" multiple="multiple" required>
          <label class="custom-file-label" for="validatedCustomFile">Choose files...</label>
        </div>
        <th:block th:if="${#fields.hasErrors('images')}">
          <small class="text-danger" th:errors="*{images}"></small>
        </th:block>
      </div>
      <div class="mt-5 w-50 mx-auto">
        <th:block th:include="~{fragments/select-province}"></th:block>
        <th:block th:if="${#fields.hasErrors('province')}">
          <small class="text-danger" th:errors="*{province}"></small>
        </th:block>
      </div>
      <div class="mt-5 w-50 mx-auto">
        <h3>Overview</h3>
        <textarea name="overview" class="form-control" cols="41" rows="5"
                  th:text="*{overview}"
                  th:classappend="${#fields.hasErrors('overview')} ? 'is-invalid'"
                  placeholder="Write Overview for Thing To Do..." required></textarea>
        <th:block th:if="${#fields.hasErrors('overview')}">
          <small class="text-danger" th:errors="*{overview}"></small>
        </th:block>
      </div>
      <div class="mt-5 w-50 mx-auto">
        <h3>External Link</h3>
        <input type="text" class="form-control" name="externalLink"
               th:value="*{externalLink}" placeholder="Enter External link...">
      </div>
      <div class="m-5 text-center">
        <button type="submit" class="button">Post</button>
      </div>
    </form>
  </div>
</th:block>