<div class="container-fluid row m-0" id="add-block-post">
  <div class="col-md-2 mt-md-5"></div>
  <div class="col-md-8">
    <h2 class="my-4 text-center">Add new Blog Post!</h2>
    <form th:action="@{/creators/add-blog-post}" method="POST" th:object="${bindingModel}" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="mt-3">
            <h3>Title</h3>
            <input type="text" class="form-control" name="title" th:value="*{title}"
                   placeholder="Enter Title...">
            <th:block th:if="${#fields.hasErrors('title')}">
              <small class="text-danger" th:errors="*{title}"></small>
            </th:block>
          </div>
          <div class="mt-3">
            <h3>
              Header Image
            </h3>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="validatedCustomFile" name="headerImage"
                     th:classappend="${#fields.hasErrors('headerImage')} ? 'is-invalid'" required>
              <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
            </div>
            <th:block th:if="${#fields.hasErrors('headerImage')}">
              <small class="text-danger" th:errors="*{headerImage}"></small>
            </th:block>
          </div>
          <div class="mt-3">
            <h3>Select Categories</h3>
            <select multiple="" class="form-control" id="add-categories" name="categories">
              <option selected="" disabled="">--- Select Categories ---</option>
            </select>
            <th:block th:if="${#fields.hasErrors('categories')}">
              <small class="text-danger" th:errors="*{categories}"></small>
            </th:block>
            <button type="button" class="btn btn-primary mt-3"
                    data-toggle="modal" data-target="#addCategoryModal">
              Add new Category
            </button>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mt-3">
            <h3 class="text-center">
              Write the blog text
            </h3>
            <textarea id="summernote" name="article" th:text="*{article}"></textarea>
            <th:block th:if="${#fields.hasErrors('article')}">
              <small class="text-danger" th:errors="*{article}"></small>
            </th:block>
          </div>
          <div class="m-5 text-center">
            <button type="submit" class="button">Post</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add new Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/category/add-category}" method="POST">
        <div class="modal-body">
          <input type="text" class="form-control" name="name" id="category"
                 placeholder="Add new Category if not in the list above...">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>