<th:block th:fragment>
    <div class="container">
        <div class="row my-5 text-center justify-content-center h-100">
            <div class="col-sm-12 col-md-6 col-lg-4 text-center my-auto">
                <a th:href="@{/creators/blog-post}" class="creator-card card shadow .z-depth-2 rounded mb-3">
                    <div class="embed-responsive .embed-responsive-1by1 ">
                        <img
                                src="https://res.cloudinary.com/duddzgxsd/image/upload/v1573225180/ezgif-1-f483ee9708bf.webp"
                                class="card-img" alt="blog">
                    </div>
                    <div class="card-img-overlay d-flex flex-column justify-content-center">
                        <h3 class="card-title justify-content-center bg-light border border-dark font-weight-bold">Blog Post</h3>
                        <p class="card-text justify-content-center bg-light border border-dark">Write the best
                            blog post of your life.</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 text-center my-auto">
                <a th:href="@{/creators/add-place}" class="creator-card card shadow .z-depth-2 rounded mb-3">
                    <div class="embed-responsive .embed-responsive-1by1 ">
                        <img
                                src="https://res.cloudinary.com/duddzgxsd/image/upload/v1573225304/ezgif-1-5102c213e4fd.webp"
                                class="card-img" alt="place">
                    </div>
                    <div class="card-img-overlay d-flex flex-column justify-content-center">
                        <h3 class="card-title justify-content-center bg-light border border-dark font-weight-bold">Add Place</h3>
                        <p class="card-text justify-content-center bg-light border border-dark">Do you know some
                            hidden gems in the Philippines?</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 text-center my-auto">
                <a th:href="@{/creators/add-thing-to-do}" class="creator-card card shadow .z-depth-2 rounded mb-3">
                    <div class="embed-responsive .embed-responsive-1by1 ">
                        <img
                                src="https://res.cloudinary.com/duddzgxsd/image/upload/v1573225658/ezgif-1-c1f912f4eeac.webp"
                                class="card-img" alt="things">
                    </div>
                    <div class="card-img-overlay d-flex flex-column justify-content-center">
                        <h3 class="card-title justify-content-center bg-light border border-dark font-weight-bold">Add Thing To Do</h3>
                        <p class="card-text justify-content-center bg-light border border-dark">Do you know how to have more fun in the Philippines?</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 text-center my-auto">
                <a th:href="@{/creators/add-picture}" class="creator-card card shadow .z-depth-2 rounded mb-3">
                    <div class="embed-responsive .embed-responsive-1by1 ">
                        <img
                                src="https://res.cloudinary.com/duddzgxsd/image/upload/v1573225419/ezgif-1-fda9dcfaa2c6.webp"
                                class="card-img" alt="pictures">
                    </div>
                    <div class="card-img-overlay d-flex flex-column justify-content-center">
                        <h3 class="card-title justify-content-center bg-light border border-dark font-weight-bold">Add Pictures</h3>
                        <p class="card-text justify-content-center bg-light border border-dark">Share your best moments.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</th:block>