<th:block th:fragment>
  <th:block th:include="~{fragments/breadcrumb-area}"></th:block>
  <section class="google-maps-contact-info">
    <div class="container-fluid">
      <div class="google-maps-contact-content">
        <div class="row">
          <div class="col-6 col-lg-3">
            <div class="single-contact-info">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <h4>Phone</h4>
              <p>+01-234-567-890</p>
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <div class="single-contact-info">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <h4>Address</h4>
              <p>Cebu, Philippines</p>
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <div class="single-contact-info">
              <i class="fa fa-clock" aria-hidden="true"></i>
              <h4>Open time</h4>
              <p>08:00 am to 18:00 pm</p>
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <div class="single-contact-info">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <h4>Email</h4>
              <p>discover.philippines@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="google-maps">
          <iframe
                  src="https://maps.google.com/maps?q=cebu&t=&z=13&ie=UTF8&iwloc=&output=embed"
                  allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  <div class="contact-form-area p-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading text-center">
            <h4>Contact Us</h4>
            <h2>Send Message</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="contact-form">
            <form action="#" method="post">
              <div class="row">
                <div class="col-6 col-lg-6">
                  <input type="text" name="message-name" class="form-control mb-3"
                         placeholder="Your Name">
                </div>
                <div class="col-6 col-lg-6">
                  <input type="email" name="message-email" class="form-control mb-30"
                         placeholder="Your Email">
                </div>
                <div class="col-12">
                                    <textarea name="message" class="form-control mb-30"
                                              placeholder="Your Message"></textarea>
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn_4">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>