<main class="main-content">
  <div class="container-fluid photos">
    <div class="row">
      <div class="col-10 col-lg-10">
        <div class="grid">
          <div class="grid-sizer"></div>
          <div class="grid-item" data-aos="fade-up">
            <a th:href="@{gallery/single}" class="d-block photo-item">
              <img src="../img/img_9.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                  <h3 class="heading">Photos Title Here</h3>
                  <span class="meta">42 Photos</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>