<main class="main-content">
  <div class="container photos">
    <div class="row my-3 text-center">
      <div class="col-12">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="all" autocomplete="off" value="all" checked> All
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="province" autocomplete="off" value="province"> By Province
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="place" autocomplete="off" value="place"> By Place
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="uploader" autocomplete="off" value="uploader"> By Uploader
          </label>
        </div>
      </div>
    </div>
    <div class="row images-data">
    </div>
  </div>
</main>