<th:block th:fragment>
  <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog"
       aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLongTitle">Add new Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form th:action="@{/category/add-category}" method="POST">
          <div class="modal-body">
            <input type="text" class="form-control" name="name" id="category"
                   placeholder="Add new Category if not in the list above...">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</th:block>