<th:block th:fragment>
    <div class="breadcrumb-area contact-breadcrumb bg-img bg-overlay jarallax"
         style="background-image: url(../img/cris-tagupa-9ZXHUr5aCwM-unsplash2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content text-center m-4">
                        <h2 class="page-title" th:text="${pageName}"></h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page" th:text="${pageName}"></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>