<th:block th:fragment>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="Discover the Philippines. Find out more about Philippines, best places to visit, best things to do. Check our blog for interesting thing happening in Philippines. Find cheap hotels.">
    <title>Discover the Philippines</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/util.css}">
    <link rel="stylesheet" th:href="@{/css/countrySelect.min.css}">
    <link rel="stylesheet" th:href="@{/css/summernote-bs4.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</th:block>