<th:block th:fragment>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/active.js}"></script>
    <script th:src="@{/js/aos.js}"></script>
    <script th:src="@{/js/jquery.fancybox.min.js}"></script>
    <script th:src="@{/js/countrySelect.js}"></script>
    <script th:src="@{/js/notify.min.js}"></script>
    <script th:src="@{/js/jquery.timeago.js}"></script>
    <script th:src="@{/js/form.js}"></script>
    <script th:src="@{/js/summernote-bs4.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</th:block>