<th:block th:fragment>
	<section class="banner_part" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-out"
		data-aos-duration="1000">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-10">
					<div class="banner_text text-center">
						<div class="banner_text_iner">
							<h1>Philippines</h1>
							<p>It's More Fun in the Philippines.</p>
							<a href="https://whitelabel.travelpayouts.com/?locale=en" class="btn_1">Find Hotel/Flights</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="booking_part">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<script charset="utf-8" src="//www.travelpayouts.com/widgets/1ef0da818e79e4b90e1fafb823d69c4b.js?v=1792"
						async>
						</script>
				</div>
			</div>
		</div>
	</section>
	<section class="top_place section_padding" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="600">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-6">
					<div class="section_tittle text-center">
						<h2>Best Places to visit</h2>
						<p>"It's More Fun" to Discover this Island Country's Hidden Gems</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6" th:each="place : ${places}">
					<div class="single_place">
						<img class="img-fluid img-home" th:src="${place.headerImageUrl}" alt="">
						<div class="hover_Text d-flex align-items-end justify-content-between">
							<div class="hover_text_iner">
								<a th:href="@{/places/details/{id} (id = ${place.id})}" class="place_btn">discover</a>
								<h3 th:text="${place.name}"></h3>
								<p th:text="${place.province}"></p>
							</div>
						</div>
					</div>
				</div>
				<a th:href="@{/places}" class="btn_4 text-cnter">Discover more</a>
			</div>
		</div>
	</section>

	<section data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="600">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-6">
					<div class="section_tittle text-center">
						<h2>Best things to do</h2>
						<p>Enjoy the Philippines even more with this activities</p>
					</div>
				</div>
			</div>
		</div>
		<div class="rooms-slides owl-carousel">
			<div class="single-room-slide d-flex align-items-center" th:each="thingToDo : ${thingsToDo}">
				<div class="room-thumbnail h-100 bg-img" th:style="'background-image: url('+ ${thingToDo.mainImageUrl} +');'"></div>

				<div class="room-content">
					<h2 data-animation="fadeInUp" data-delay="100ms" th:text="${thingToDo.name}"></h2>
					<h3 data-animation="fadeInUp" data-delay="300ms" th:text="${thingToDo.province}"></h3>
					<p class="room-feature" data-animation="fadeInUp" data-delay="500ms"
						 th:text="${#strings.abbreviate(thingToDo.overview, 80)}"></p>
					<a th:href="@{/things-to-do/details/{id} (id = ${thingToDo.id})}"
						 class="button mt-30" data-animation="fadeInUp" data-delay="700ms">View
						Details</a>
				</div>
			</div>
		</div>
	</section>

	<section class="m-5" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="600">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-6">
					<div class="section_tittle text-center">
						<h2>Latest from Our Blog</h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-md-6 col-lg-4" th:each="post : ${posts}">
					<div class="single-post-area mb-100">
						<a th:href="@{/blog/{id} (id = ${post.id})}"
							 class="post-thumbnail">
							<img class="img-fluid img-home-post"
									 th:src="${post.headerImageUrl}" alt="missing image"></a>
						<div class="post-meta">
							<div class="post-date"
								 th:text="${#temporals.format(post.datePosted, 'dd-MMM-yyyy')}"></div>
							<a th:href="@{/blog/category/{id} (id = ${category.id})}"
								 th:each="category, iter : ${post.categories}">
                <span class="mr-0" th:text="${category.name}">
                </span><span th:if="(${iter.index + 1} != ${#lists.size(post.categories)})">,</span>
							</a>
						</div>
						<a th:href="@{/blog/{id} (id = ${post.id})}" class="post-title" th:text="${post.title}"></a>
						<p th:text="${#strings.abbreviate(post.article, 140)}"></p>
						<a th:href="@{/blog/{id} (id = ${post.id})}" class="btn continue-btn mb-1">
							<i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>