<th:block th:fragment>
  <th:block th:object="${place}">
    <section class="event_part section_padding" th:style="'background:url('+ *{headerImageUrl} +');
             background-position: center;
                 background-size: cover;
                 background-repeat: no-repeat;'">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="row justify-content-end">
              <div class="col-lg-4 col-md-4 mr-md-5">
                <div class="event_slider_content">
                  <a th:href="@{/places/details/{id} (id=${place.id})}" id="details">
                    <h2 class="back" th:text="*{name}"></h2>
                  </a>
                  <h3 th:text="*{province}"></h3>
                  <p class="text-break" th:text="*{info}"></p>
                  <div class="d-flex flex-column">
                    <a href="#" class="btn_1 mb-2 text-center"
                       id="hotel">Find Hotels</a>
                    <a href="#" class="btn_1 mb-2 text-center"
                       id="map">Find hotels on the map</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="tour_details_content section_padding" id="place-data">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-8" th:utext="*{article}"></div>
        </div>
      </div>
    </section>
    <script th:inline="javascript">
      var hotels = [[${hotel}]];
      var onMap = [[${map}]];
    </script>
  </th:block>
</th:block>